* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.profile-pic2 {
  width: 20%;
  height: 20%;
  object-fit: cover;
  border-radius: 50%;
}

.deconnexion {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 20%;
  height: 20%;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}


::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

::-webkit-scrollbar {
  margin-right: 5px;
}


.hamburger {
  display: none;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 1001;
}

.hamburger.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: transform 0.3s, opacity 0.3s;
}

.hamburger.open {
  transform: rotate(90deg);
}

.hamburger-menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  list-style-type: none; 
  padding: 0;
  margin: 0;
  margin-top: 60px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.hamburger-menu li {
  display: inline-block;
  width: 100%;
}

.hamburger-menu a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
}

.hamburger-menu a:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-left, .nav-right {
    display: none;
  }
}


.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: red;
  font-size: 24px;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


header {
  z-index: 1;
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
}

header.small {
  height: 50px;
}

header img {
  width: 100%;
  max-width: 70px;
  height: auto;
  transition: all 0.3s ease;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 1rem;
}

.nav-left {
  margin-right: auto;
  margin-left: 0px;
}

.nav-left ul li a {
  color: black;
  text-decoration: none;
  padding: 0px 0px;
}

.nav-left ul li a:hover {
  background-color: #FBE216;
  color: black;
  border-radius: 20px;
}

.nav-right ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 0px;
}

.profile-pic {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -20px;
}

@media only screen and (min-width: 600px) {
  header {
    height: 110px;
    padding: 0 0px;
    transition: all 0.3s ease;
  }

  header.small {
    height: 60px;
  }

  header img {
    max-width: 231px;
	}

header.small img {
max-width: 115px;
}

nav {
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
}

nav ul {
display: flex;
list-style: none;
}

nav ul li {
margin-left: 1rem;
}

.nav-left {
margin-right: auto;
margin-left: 40px;
}

.nav-left ul li a {
color: black;
text-decoration: none;
padding: 10px 15px;
}

.nav-left ul li a:hover {
background-color: #FBE216;
color: black;
border-radius: 20px;
}

.nav-right {
margin-left: auto;
margin-right: 40px;
}

.nav-right ul li {
position: relative;
}

.nav-right ul li .greeting {
margin-right: 10px;
position: relative;
top: -9px;
}

.nav-right ul li a img {
width: 45px;
height: 45px;
margin-right: 10px;
}


.profile-pic {
width: 45px;
height: 45px;
object-fit: cover;
border-radius: 50%;
}

.profile-pic:hover {
opacity: 0.7;
transform: scale(0.9);
transition: transform 0.5s;
cursor: pointer;
}
}
#dropdown-menu {
position: absolute;
top: 60px;
right: 0;
width: 250px;
background-color: white;
border: 1px solid gray;
border-radius: 5px;
padding: 0;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
animation: fade-in 0.2s ease-in-out;
z-index: 1;
}

#dropdown-menu ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
}

#dropdown-menu li {
margin: 0;
width: 100%;
}

#dropdown-menu li a {
display: block;
color: black;
text-decoration: none;
font-size: 14px;
font-weight: bold;
width: 100%;
height: 40px;
line-height: 40px;
padding: 0 10px;
border-radius: 0;
transition: background-color 0.2s ease-in-out;
}

#dropdown-menu li a:hover {
background-color: #f2f2f2;
color: black;
}

#dropdown-menu:before {
content: "";
position: absolute;
top: -10px;
left: 156px;
border-top: 10px solid white;
transform: rotate(180deg);
border-right: 10px solid transparent;
border-left: 10px solid transparent;
z-index: 2;
}

@keyframes fade-in {
0% {
opacity: 0;
transform: translateY(-20px);
transform: scale(0.1);
}
100% {
opacity: 1;
transform: translateY(0px);
}
}